.sign-in {
    max-width: 600px;
    width: 90%;

    @media only screen and (min-width: 1000px) {
            font-size: 1.2rem;
        }

    .title {
        margin-bottom: 1em;
    }

    .go-to-signup {
        margin-bottom: 1em;
        color: #2b5fff;
        text-decoration: underline;
        cursor: pointer;
    }
}