.sign-in {
    max-width: 600px;
    margin: 1rem 0;
    width: 90%;

    .title {
        margin-bottom: 1rem;
    }

    .go-to-signup {
        color: blue;
        text-decoration: underline;
    }
}