.profile-image {
    height: 3rem;
    border-radius: 5rem;
    margin-right: 1rem;
}

.profile-data {
    display: flex;
    align-items: center;
}

.user-profile-container {
    background: blue;
    padding: 1rem;
    border-radius: 1rem;
}