.user-profile-container {
    padding: 0.5rem;
    height: 90px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    margin: 0.1rem 0;
    cursor: pointer;

    @media only screen and (min-width: 1000px) {
        height: 150px;
        font-size: 1.2rem;
        padding: 1rem;
    }
}


.profile-image {
    height: 4rem;
    border-radius: 5rem;
    margin-right: 1rem;

    @media only screen and (min-width: 1000px) {
        height: 6rem;
    }
}

.profile-data {
    display: flex;
    align-items: center;
}

.user-data {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.username {
    font-size: 1.2em;
    font-weight: bold;
}


.last-message {
    color: black;

    &.dark {
        color: white;
        opacity: 0.8;
    }
} 

.unread {
    color: red !important;
}