.form-group {
    padding: 0.2rem 0;
    
    label {
        display: block;
    }

    input {
        width: 100%;
        padding: 0.2rem;
    }

    > * {
        margin: 0.2rem 0;
    }
}

.dark::placeholder {
    color: white;
    opacity: 0.8;
}