.chat-window-container {
  height: 85vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 30px;
  padding: 0.25rem;

  .messages-container {
    padding: 0.25rem;
    position: relative;
    overflow: scroll;
    height: 90%;
    border: 1px solid black;
    
  }

  form {
    position: absolute;
    bottom: 1%;
    width: 95%;
    display: flex;

    input {
      width: 80%;
      padding: 0.25rem;
    }
    button {
      width: 20%;
    }
  }

  .message-data-container {
    padding: 0.5rem 0;
    margin-bottom: 0.3rem;
    margin-left: auto;
    width: fit-content;

    span {
      display: block;
    }
    .message {
      background: grey;
      padding: 0.15rem 0.5rem;
      border-radius: 0.5rem;
      color: white;
    }
  }

  .client-message {
    margin-left: 0;

    .message {
      background: blue;
    }
  }

  .date {
    text-align: center;
    margin: 1rem 0;
  }

}
