.chat-window-container {
  height: 80vh;
  width: 100%;
  background: blue;
  position: relative;
  overflow: scroll;

  .messages-container {
    position: relative;
    overflow: scroll;
    height: 90%;
  }

  form {
      position: absolute;
      bottom: 1%;
  }
}
