.chat-window-container {
  height: 450px;
  width: 100vw;
  position: relative;
  padding: 0 0.25rem;
  border: 1px solid black;

  .messages-container {
    height: 90%;
    padding: 0 0.25rem;
    margin-bottom: 3rem;
    overflow: scroll;
  }

  form {
    position: absolute;
    bottom: 2%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;

    input {
      width: 80%;
      padding: 0.25rem;
    }
    button {
      width: 20%;
    }
  }

  .message-data-container {
    padding: 0.5rem 0;
    margin-bottom: 0.3rem;
    margin-left: auto;
    width: fit-content;

    span {
      display: block;
    }
    .message {
      background: grey;
      padding: 0.15rem 0.5rem;
      border-radius: 0.5rem;
      color: white;
    }
  }

  .client-message {
    margin-left: 0;

    .message {
      background: blue;
    }
  }

  .date {
    text-align: center;
    margin: 1rem 0;
  }

}
