.sign-up {
    max-width: 600px;
    width: 90%;

    .title {
        margin-bottom: 1rem;
    }

    .go-to-signin {
        margin-bottom: 1rem;
        color: blue;
        text-decoration: underline;
        cursor: pointer;
    }
}