@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Lobster&display=swap');

.header {

    nav {
        display: flex;
        width: 100%;
        background: #25e88a;
        height: 50px;
        justify-content: space-between;
        align-items: center;
        padding: 0.25rem;

        .nav-link {
            color: white;
            text-decoration: none;
            font-size: 20px;
        }

        .title {
            font-family: 'Lobster', cursive;
            font-size: 1.5rem;
        }

        .switch-slider {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 0.8rem;
            color: white;
        }
    }
}

@media only screen and (min-width: 1000px) {
    .header {

        nav {
            height: 100px;
            padding: 1rem;

            .title {
                font-size: 2.5rem;
            }

            .switch-slider {
                label {
                    font-size: 1rem;
                    margin-top: 0.25rem;

                }
            }

            .account-icon {
                font-size: 3rem;
            }
        }

    }
  }