@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
}

.App {
    height: 100vh;
}

.dark {
    background: #3a3b3c;
}

button {
    cursor: pointer;
}

.error-message {
    color: red;
    
}
@media only screen and (min-width: 1000px){
    .error-message {
        font-size: 1.5rem;
    }
}