.homepage-container {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0.5rem;
    overflow: scroll;

    input {
        border: 1px solid black;
    }

    &.dark {
        background: #3a3b3c;
        color: white;
        input {
            background: #666666;
            color: white;
        }
    }
}